body {
    background-color: #d5e1ef;
}

h3 {
    color: #303e5c;
    /* font-family: "Candal"; */
    font-weight: 800;
    font-size: 1.2rem;
    padding-top: 1%;
    padding-bottom: 1%;
}
p {
    font-size: 1rem;
    color: #92959a;
}
.main-item {
    width: 23%;
    margin: 100px auto;
}

.card {
    padding: 1%;
    border-radius: 15px;
}
.card-body {
    background-color: white;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    line-height: 1;
}